.todo_app {
    font-family: Arial, sans-serif;
    text-align: center;
}

h1{
    margin: 15px 0px;
    font-size: 3rem;
    text-align: center;
}

.todo_container{
    width: 80%;
    margin: 0 auto;
    padding: 20px 40px;
    background-color: #344e41;
    box-shadow: 0px 5px 7px rgba(95, 92, 92);
}

.input_section{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
}

.input_item {
    width: 100%;
    margin: 10px 0px;
}

.input_item label{
    font-weight: bold;
}

.input_item input{
    width: 50%;
    border: none;
    padding: 8px;
    border-radius: 5px;
}

.input_item input:focus{
    outline: 3px solid rgba(22,219,101);
    outline-offset: -3px;
}

.add_button{
    padding: 10px 20px;
    background-color: #16db65;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.add_button:hover{
    background-color: #069d43;
}

.toggle_btn{
    padding: 10px 20px;
    border: none;
    color: #fff;
    background-color: rgba(121, 121, 121);
    cursor: pointer;
}

.toggle_btn.active{
    background-color: #16db65;
    color: #fff;
}